WSSSecurityProvider/WSSSecurityProvider/WSSSecurityManagementClient/Web References/HostingSQLMembership_WS/HostingSQLMembershipSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.mylocalbroadband.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.mylocalbroadband.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.mylocalbroadband.com/">
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPasswordQuestion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPasswordAnswer" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MappedApplication" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MappedApplication" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MappedApplication" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType />
      </s:element>
      <s:element name="ResetUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MappedApplication" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetUserPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MappedApplication" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MappedApplication" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSiteMapping">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siteURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSiteMappingResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSiteMapping">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteMappingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSiteMappingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetApplicationName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetApplicationNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetApplicationName">
        <s:complexType />
      </s:element>
      <s:element name="GetApplicationNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplicationNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ResetUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetUserPassword" />
  </wsdl:message>
  <wsdl:message name="ResetUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserList" />
  </wsdl:message>
  <wsdl:message name="GetUserListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserListResponse" />
  </wsdl:message>
  <wsdl:message name="FindUserSoapIn">
    <wsdl:part name="parameters" element="tns:FindUser" />
  </wsdl:message>
  <wsdl:message name="FindUserSoapOut">
    <wsdl:part name="parameters" element="tns:FindUserResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSiteMappingSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSiteMapping" />
  </wsdl:message>
  <wsdl:message name="CreateSiteMappingSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSiteMappingResponse" />
  </wsdl:message>
  <wsdl:message name="GetSiteMappingSoapIn">
    <wsdl:part name="parameters" element="tns:GetSiteMapping" />
  </wsdl:message>
  <wsdl:message name="GetSiteMappingSoapOut">
    <wsdl:part name="parameters" element="tns:GetSiteMappingResponse" />
  </wsdl:message>
  <wsdl:message name="SetApplicationNameSoapIn">
    <wsdl:part name="parameters" element="tns:SetApplicationName" />
  </wsdl:message>
  <wsdl:message name="SetApplicationNameSoapOut">
    <wsdl:part name="parameters" element="tns:SetApplicationNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplicationName" />
  </wsdl:message>
  <wsdl:message name="GetApplicationNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplicationNameResponse" />
  </wsdl:message>
  <wsdl:portType name="SQLMembershipServiceSoap">
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <wsdl:input message="tns:ResetUserPasswordSoapIn" />
      <wsdl:output message="tns:ResetUserPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <wsdl:input message="tns:GetUserListSoapIn" />
      <wsdl:output message="tns:GetUserListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <wsdl:input message="tns:FindUserSoapIn" />
      <wsdl:output message="tns:FindUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSiteMapping">
      <wsdl:input message="tns:CreateSiteMappingSoapIn" />
      <wsdl:output message="tns:CreateSiteMappingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteMapping">
      <wsdl:input message="tns:GetSiteMappingSoapIn" />
      <wsdl:output message="tns:GetSiteMappingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetApplicationName">
      <wsdl:input message="tns:SetApplicationNameSoapIn" />
      <wsdl:output message="tns:SetApplicationNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationName">
      <wsdl:input message="tns:GetApplicationNameSoapIn" />
      <wsdl:output message="tns:GetApplicationNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SQLMembershipServiceSoap" type="tns:SQLMembershipServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://www.mylocalbroadband.com/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://www.mylocalbroadband.com/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://www.mylocalbroadband.com/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <soap:operation soapAction="http://www.mylocalbroadband.com/ResetUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap:operation soapAction="http://www.mylocalbroadband.com/GetUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <soap:operation soapAction="http://www.mylocalbroadband.com/FindUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSiteMapping">
      <soap:operation soapAction="http://www.mylocalbroadband.com/CreateSiteMapping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteMapping">
      <soap:operation soapAction="http://www.mylocalbroadband.com/GetSiteMapping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetApplicationName">
      <soap:operation soapAction="http://www.mylocalbroadband.com/SetApplicationName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationName">
      <soap:operation soapAction="http://www.mylocalbroadband.com/GetApplicationName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SQLMembershipServiceSoap12" type="tns:SQLMembershipServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://www.mylocalbroadband.com/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://www.mylocalbroadband.com/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://www.mylocalbroadband.com/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <soap12:operation soapAction="http://www.mylocalbroadband.com/ResetUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap12:operation soapAction="http://www.mylocalbroadband.com/GetUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <soap12:operation soapAction="http://www.mylocalbroadband.com/FindUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSiteMapping">
      <soap12:operation soapAction="http://www.mylocalbroadband.com/CreateSiteMapping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteMapping">
      <soap12:operation soapAction="http://www.mylocalbroadband.com/GetSiteMapping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetApplicationName">
      <soap12:operation soapAction="http://www.mylocalbroadband.com/SetApplicationName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationName">
      <soap12:operation soapAction="http://www.mylocalbroadband.com/GetApplicationName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQLMembershipService">
    <wsdl:port name="SQLMembershipServiceSoap" binding="tns:SQLMembershipServiceSoap">
      <soap:address location="http://localhost:8080/_vti_adm/HostingSQLMembershipSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="SQLMembershipServiceSoap12" binding="tns:SQLMembershipServiceSoap12">
      <soap12:address location="http://localhost:8080/_vti_adm/HostingSQLMembershipSvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>